body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
  
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
}
  
.top {
    top: 0;
}
  
.bottom {
    bottom: 0;
    height: 46px;
}
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar a:hover {
    background: #ddd;
    color: black;
}
  
.main {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 1em;
    margin-right: 1em;
}
  
.holder {
    display: flex;
    justify-content: center;
}
  
button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  
button:hover {
    background-color: #282828;
}